@import '../Setting.scss';

.detail_section_2 {
    padding: 3% 0;
    background-color: #20293e;
    .box {
        display: flex;
        flex-direction: column;

        .title1 {
            color: $primary-color1;
            font-size: 47px;
            font-family: NexaBold;
            margin: 0;
            padding-bottom: 22px;
        }
        .title2 {
            margin-top: 20px;
            color: #989898;
            font-size: 13px;
            font-family: NexaLight;
        }
        .title3 {
            color: $primary-color1;
            font-family: NexaLight;
            margin: 0px;
            font-variant-numeric: normal;
            font-variant-east-asian: normal;
            font-stretch: normal;
            font-size: 20px;
            line-height: 2.5rem;
        }
    }
    .box2 {
        padding: 0 5%;
        .title1 {
            font-size: 18px;
            color: $primary-color1;
            text-transform: uppercase;
            margin: 0;
            padding-bottom: 12px;
            font-family: NexaBold;
        }
        .box_recent {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 20px;
            img {
                margin-right: 10px;
                margin-bottom: 30px;
            }
            .title2 {
                color: $primary-color1;
                font-size: 13px;
                font-family: NexaLight;
            }
            .title3 {
                color: $primary-color1;
                font-size: 14px;
                font-family: NexaBold;
                line-height: 2rem;
            }
        }
    }
}